BodyForgeClient/Connected Services/ExerciseService/ExerciseWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getByIdResult" type="tns:Exercise" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Exercise">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="getByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ExerciseWebServiceSoap">
    <wsdl:operation name="getById">
      <wsdl:input message="tns:getByIdSoapIn" />
      <wsdl:output message="tns:getByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExerciseWebServiceSoap" type="tns:ExerciseWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://tempuri.org/getById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExerciseWebServiceSoap12" type="tns:ExerciseWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getById">
      <soap12:operation soapAction="http://tempuri.org/getById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExerciseWebService">
    <wsdl:port name="ExerciseWebServiceSoap" binding="tns:ExerciseWebServiceSoap">
      <soap:address location="http://localhost:60500/WebService/ExerciseWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExerciseWebServiceSoap12" binding="tns:ExerciseWebServiceSoap12">
      <soap12:address location="http://localhost:60500/WebService/ExerciseWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>